.react-reel__group {
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
  transform: translate(0, 0);
}

.react-reel__group .react-reel__number {
  height: 1em;
}

.react-reel__reel {
  height: 1em;
  display: flex;
  align-items: flex-end;
  overflow-y: hidden;
}
